#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

build:
	ruby extconf.rb
	sed -i 's#^sitedir\s*=\s*.*$$#sitedir = $$(DESTDIR)/$$(topdir)#' Makefile
	dh build

clean:
	dh clean
	rm -f Makefile

%:
	dh $@
